<div class="container-fluid" id="content" style="top: 15%">

    <form action="/billing" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="nameZb" placeholder="Vorname Nachname" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="fileNumber" placeholder="1 XVII 111/11 A" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="identNr" placeholder="12 345 678 910" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="workMin" placeholder="Arbeitszeit in Minuten" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="fkCount" placeholder="Kilometer" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="phoneCount" placeholder="Telefonzeit in Minuten" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="copyCount" placeholder="Anzahl Kopien" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="porto" placeholder="Porto in €" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>