<div class="container-fluid" id="content" style="top: 15%">
    {{> bill}}

    <form method="GET" action="/billing/download">
        <button type="submit" class="btn btn-primary">Download Bill</button>
    </form>
</div>