<div class="container-fluid" id="content" style="top: 15%">
    <form>
        <div class="form-group">
            <label>Cryptocurrency</label>
            <select class="form-control" id="cryptoPicker">
                <option>Bitcoin</option>
                <option>Ethereum</option>
                <option>Litecoin</option>
            </select>
        </div>
    </form>
</div>