<div class="container-fluid" id="content" style="top: 15%">
    <form action="/" method="POST">
        <div class="row">
            <div class="form-group col-4">
                <label>Cryptocurrency</label>
                <select class="selectpicker form-control" name="coin" data-live-search="true" title="Choose.." id="cryptoPicker" required>
                    {{#each coins}}
                    <option>{{name}} | {{symbol}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-4">
                <label>Quantity</label>
                <input type="number" name="quantity" min="0" step="any" class="form-control" placeholder="0" required>
            </div>
            <div class="form-group col-4" id="addToPortfolioBtn">
                <button type="submit" class="btn btn-primary">Add to Portfolio</button>
            </div>
        </div>
    </form>
</div>