html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


#navbarDropdown {
  color: white;
}

#main {
  padding-left: 0px;
  padding-right: 0px;
  z-index: 2;
}

.navbar-brand{
  font-style: italic;

}

.navbar-brand i{
  padding-right: .5em;
}

#content {
  position: absolute;
  left: 30%;
  width: 40%;
  margin-bottom: 7%;
  padding: 5vh;
  border: 1px solid red;
  border-radius: 2px;
  z-index: 5;
  background-color: rgb(255, 255, 255);
}

.center-vertically {
  height: 100%;
  display: flex;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  border: 1px solid red;
}

#ghlink {
  color: rgb(255, 255, 255);
}