<footer class="page-footer font-small" style="background-color: #007bff"!important>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/" style="color: #FFFF"> Jan Schönfeld</a>
  </div>
  <!-- Copyright -->

</footer>