<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-dungeon"></i>huel.global</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
    {{#if user}}
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          <i class="fas fa-user"></i> <strong>{{user.name}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item"><i class="fas fa-cog"></i>  Account Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sign-out"><i class="fas fa-sign-out-alt"></i>  Sign Out</a>
        </div>
    {{else}}
      <li class="nav-item"><a class="nav-link" href="/sign-in"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
      <li class="nav-item"><a class="nav-link" href="/sign-up"><i class="fas fa-user-plus"></i> Sign Up</a></li>
    {{/if}}
    </ul>
  </div>
</nav>