<link rel="stylesheet" href="\css\particles.css">
<!-- particles.js container -->
<div id="particles-js">

</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="particles.js\particles.min.js"></script>
<!-- stats.js lib -->
<script src="js/particles.js"></script>