<!DOCTYPE html>
<html>

<head>
    <title>
        Sup
    </title>
    <link rel="stylesheet" href="bootstrap\dist\css\bootstrap.min.css">
</head>

<body>
    Warum liegtn hier Stroh?
    <div>
        <button type="button" class="btn btn-primary" id="stroh">Warum hastn du ne Maske auf?</button>
    </div>
</body>
<script type="text/javascript" src="js/main.js">
    </script>

</html>